body { background: url(tye.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; margin:5%; text-align:justify }
/* http://css-tricks.com/perfect-full-page-background-image/ */


H1{

font-size: 400%;
text-align: center;
color: red;


}

.Headings {
  font-size: 300%;
  color: green;
  text-align: center;
}

.Information {
  font-size: 100%
  text-align: center; 
  color: yellow;
  font-size: 300%;
  font-style: italic;
}

.pic {
float: center;
}


.table {

color: blue;
text-align: center;

}
