body { background: url(Build.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; margin:5%; text-align:justify }
/* http://css-tricks.com/perfect-full-page-background-image/ */

.Headings {
  font-size: 200%;
}

.Information {
  font-size: 100%
}
